/* General Styles */
* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    height: 100vh;
    grid-template: 1fr 5fr / minmax(350px, 1fr) 3fr;
}

img {
    object-fit: cover;
    padding-right: 20px;
}

/* Header Styles */
header {
    grid-column: 2 / 3;
    display: grid;
    grid-template: 1fr 2fr / 2fr 1fr;
}

.header-search-bar {
    display: grid;
    grid-template: 30px / 30px 1fr;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: 70px;
    margin-left: 70px;
}

.header-search-bar img {
    height: 30px;
}

.header-search-bar input {
    padding: 5px 15px;
    margin-right: 5px;
    margin-left: 5px;
    border: 1px solid lightgray;
    border-radius: 20px;
    background-color: rgb(233, 233, 233);
    font-size: 20px;
}

.profile {
    background-color: pink;
}

.profile-info {
    background-color: red;
}

.admin-buttons {
    background-color: gray;
}

/* Navigation Styles */
nav {
    grid-row: 1 / 3;
    background-color: rgb(210, 226, 231);
    padding: 25px;
    display: grid;
    grid-template-rows: 50px 300px 250px;
    gap: 50px;
}

nav h1,
nav h2 {
    font-size: 40px;
}

nav h2:not(:last-child) {
    padding-bottom: 5px;
}

.nav-header img {
    height: 40px;
}

.nav-links img, 
.nav-support img {
    height: 30px;
}

/* Main (content) styles */
main {
    background-color: rgb(230, 225, 225);
}